@media (max-width: 1300px) {
  .search-bar {
    width: 16vw;
  }
  #search {
    width: 7vw;
  }
}

@media (max-width: 870px) {
  .search-bar {
    width: 16vw;
    background-color: rgb(190, 190, 190);
  }
  #search {
    font-size: 0.8rem;
  }
  #close-btn {
    opacity: 0;
  }
}

@media (max-width: 600px) {
  .search-bar {
    width: 40vw;
  }
  #search {
    width: 15vw;
  }
}

@media (max-width: 500px) {
  .search-bar {
    width: 20vw;
  }
  #search {
    width: 0;
  }
}

@media (max-width: 400px) {
  .search-bar {
    margin-left: 0.6rem;
  }
}

@media (max-width: 320px) {
  .search-bar {
    width: 30vw;
    margin-left: 1rem;
  }
}
