@media (max-width: 920px) {
  .note {
    width: 50vw;
    margin: 0.5rem auto 0;
  }
  .note-functions {
    margin: 1rem auto;
  }
  .note-value {
    display: flex;
    width: 40vw;
    justify-content: space-between;
  }
  #note-text {
    width: 35vw;
  }
}

@media (max-width: 600px) {
  .note {
    width: 70vw;
  }
  .note-functions {
    width: 30vw;
  }
  .note-value {
    display: flex;
    width: 60vw;
    justify-content: space-between;
  }
  #note-text {
    width: 50vw;
  }
}
