.note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(168, 175, 140);
  width: 25vw;
  height: auto;
  padding: 1rem 0;
  margin: 1rem auto 0;
}

#note-text {
  height: auto;
  overflow-wrap: break-word;
}

.note-functions {
  opacity: 0;
}

.note:hover .note-functions {
  opacity: 1;
}

.note img {
  width: 25px;
  height: 25px;
  padding: 0.1rem;
  border-radius: 5px;
}

.note-value {
  display: flex;
  width: 20vw;
  justify-content: space-between;
}

.note-value p {
  width: 15vw;
  height: 7vh;
  overflow: auto;
}

.note-functions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 15vw;
  margin: 1rem auto 0;
}

#to-collection,
#to-storage,
#edit,
#delete,
#pin-btn img {
  border-radius: 5px;
}

#to-collection:hover,
#to-storage:hover,
#edit:hover,
#delete:hover,
#pin-btn img:hover {
  cursor: pointer;
  opacity: 0.3;
  background-color: rgb(113, 117, 97);
}
