#area-container {
  width: 75vw;
  height: 85vh;
  margin: 1rem auto 0;
  z-index: 5;
}

#area-container button,
#area-container input {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
}

#area-container input {
  font-size: 1rem;
  color: #ffffff;
}

.background-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem auto;
  width: 60vw;
}

#storage,
#collection,
#removed {
  margin: 0 auto 1rem;
  width: 10vw;
  height: 10vw;
  opacity: 0.4;
}
